{% extends "base.html" %}
{% load static %}
{% block content %}

<style>

  body{
  background-image: url('{% static 'ab.png' %}');"
   }
</style>
  

<br><br><br><br>
<div class="container">

  <div class="row">

    <div class="col-6">
      <div class="alert my-5">
        <h4 class="display-2 text-light">About me</h4>
        <h5 class=" text-secondary">My name is Ngqiqo Yimpi and I am a web developer My name is Ngqiqo Yimpi and I am a web develope My name is Ngqiqo Yimpi and I am a web develope My name is Ngqiqo Yimpi and I am a web develope My name is Ngqiqo Yimpi and I am a web develope</h5>
      </div>
    </div>
       
   

    <div class="col-6 my-4">
        <img src="{% static 'type.jpg' %}" width="600px" height="300px">
      </div>
         




  </div>
     












  <div class="row">



    
    <div class="col-6 my-4">
        <img src="{% static 'comp.jpg' %}" width="600px" height="300px">
      </div>
       

    <div class="col-6">
      <div class="alert my-5">
        <h4 class="display-2 text-light">What I do</h4>
        <h5 class=" text-secondary">My name is Ngqiqo Yimpi and I am a web developer My name is Ngqiqo Yimpi and I am a web develope My name is Ngqiqo Yimpi and I am a web develope My name is Ngqiqo Yimpi and I am a web develope My name is Ngqiqo Yimpi and I am a web develope</h5>
      </div>
    </div>
       
   






  </div>












  <div class="row">

    <div class="col-6">
      <div class="alert my-5">
        <h4 class="display-2 text-light">Get in touch</h4>
        <h5 class=" text-secondary">My name is Ngqiqo Yimpi and I am a web developer My name is Ngqiqo Yimpi and I am a web develope My name is Ngqiqo Yimpi and I am a web develope My name is Ngqiqo Yimpi and I am a web develope My name is Ngqiqo Yimpi and I am a web develope</h5>
      </div>
    </div>
       
   

    <div class="col-6 my-4">
        <img src="{% static 'Clean.jpg' %}" width="600px" height="300px">
      </div>




  </div>
     






















   
</div>
   
   
   
   
     
   
  

{% endblock %}