{% extends "base.html" %}
{% load static %}
{% block content %}









































<br><br><br><br>
<div class="container">

  <div class="row">

    <div class="col-sm-12 col-md-6  col-lg-6">
      <div class="alert my-5">
        <h4 class="display-2 ">About me</h4>
        <h5 class=" text-secondary">My name is Ngqiqo. I'm a web designer and developer based in Johannesburg, SA.

          During the day I’m the lead developer at Wawa Web Solutions, a local web development agency. During the evenings I spend my time working on freelance projects and building my own products.
          
          My most recent project is called Freeware. It’s a simple yet powerful editorial calendar for free software.  </div>
    </div>
       
   

    <div class="col-sm-12 col-md-6  col-lg-6 my-4">
        <img src="{% static 'gun.png' %}" width="100%" height="400px">
      </div>
         




  </div>
     












  <div class="row">



    
    <div class="col-sm-12 col-md-6  col-lg-6 my-4">
        <img src="{% static 'type.jpg' %}" width="100%" height="300px">
      </div>
       

    <div class="col-sm-12 col-md-6  col-lg-6">
      <div class="alert my-5">
        <h4 class="display-2 ">What I do</h4>
        <h5 class=" text-secondary">There’s nothing I enjoy more than designing and developing good websites for nice people. It really is that simple.

          I’ve spent many years trying to perfect what I do and while I’ll never be perfect, I do my best to come close.
          
          If you’ve got a project you’d like to work on with me just get in touch and we can get to work!     </div>
    </div>
       
   






  </div>












  <div class="row">

    <div class="col-sm-12 col-md-6  col-lg-6">
      <div class="alert my-5">
        <h4 class="display-2 ">Get in touch</h4>
        <h5 class=" text-secondary">Specializing in custom theme development. If you're a business seeking a web presence or are looking to hire, contact me here.
          <a class="" href="{% url 'contact' %}">Contact</a>
        </div>
    </div>
       
   

    <div class="col-sm-12 col-md-6  col-lg-6 my-4">
        <img src="{% static 'Clean.jpg' %}" width="100%" height="300px">
      </div>




  </div>
     






















   
</div>
   
   
   
   
     
   
  

{% endblock %}