{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">

    <div class="row my">
        <div class="col-12">




    <h4 class="text-center text-secondary">Freelance Web Designer & Developer based in Johannesburg, South Africa.
        Highly experienced in designing & developing custom Django websites.</h4>


    </div>
    


</div>



    <div class="row my-3">

        <div class="col-4">
            <ul class="list-group  shadow list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a class="nav-link text-dark" > me</a>
                  <span class="badge bg-secondary rounded-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a class="nav-link text-dark" > me</a>
                    <span class="badge bg-secondary rounded-pill">14</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a class="nav-link text-dark" > me</a>
                    <span class="badge bg-secondary rounded-pill">14</span>
                  </li>
                   
               
              </ul>
        </div>
        


    </div>
    


</div>




{% endblock %}<div class="row">


  <div class="col-3 text-center">
  <div class="alert first ifot1">
  <h3 class="text-center">Front-End</h3>
  </h1>
  
  <p class="text-center text-secondary"><b>Clean, morden designs - optimased for converting users to customers.</b></p>
  
  <button type="button" class="btn my-2 btn-md btn-outline-dark">Get Started</a></button>
    </div> </div>
  
  
  
  <div class="col-3 text-center">
    <div class="alert ifot1">
    <h3 class="text-center">Back-End</h3>
    </h1>
    
    <p class="text-center text-secondary"><b>
      Fast and powerful django back-ends powerd by python.
      
    </b></p>
    
    <button type="button" class="btn my-2 btn-md btn-outline-dark">Get Started</a></button>
     </div> </div>
  
   
  <div class="col-3 text-center">
    <div class="alert ifot1">
    <h3 class="text-center">Graphics</h3>
    </h1>
    
    <p class="text-center text-secondary"><b>
      Fast and powerful django framework powerd by python.
      
    </b></p>
    
    
     <button type="button" class="btn my-2 btn-md btn-outline-dark">Get Started</a></button>
    </div> </div>
  
    <div class="col-3 text-center">
      <div class="alert ifot1">
      <h3 class="text-center">Audits</h3>
      </h1>
      
      <p class="text-center text-secondary"><b>
        Fast and powerful django back-ends powerd by python.
        
      </b></p>
      
      <button type="button" class="btn my-2 btn-md btn-outline-dark">Get Started</a></button>
     </div> </div>
  
  </div>