{% extends "base.html" %}
{% load static %}
{% block content %}

<style>

    body{
    background-image: url('{% static 'slide.jpg' %}');"
     }
  </style>

<div class="container">

    <div class="row">
        <div class="col-12">




    <h class="text-center text-secondary">Freelance Web Designer & Developer based in Johannesburg, South Africa.
        Highly experienced in designing & developing custom Django websites.</h1>


    </div>
    


</div>



    <div class="row my-3">

        <div class="col-4">
            <ul class="list-group  shadow list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a class="nav-link text-dark" > me</a>
                  <span class="badge bg-secondary rounded-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a class="nav-link text-dark" > me</a>
                    <span class="badge bg-secondary rounded-pill">14</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a class="nav-link text-dark" > me</a>
                    <span class="badge bg-secondary rounded-pill">14</span>
                  </li>
                   
               
              </ul>
        </div>
        


    </div>
    


</div>




{% endblock %}