{% extends "base.html" %}
{% load static %}
{% block content %}


<!--////////////////////////////HEADER///////////////////////-->
<div id="carouselExampleDark" class="carousel d-none d-md-block carousel-dark slide" data-bs-ride="carousel">
<div class="carousel-inner">
<div class="carousel-item active" data-bs-interval="10000">
<img src="{% static 'ngqiqo3.png' %}" width="800" height="550" class="bd-placeholder-img-lg d-block w-100">

<div class="carousel-caption text-left d-none d-md-block">
<h5 class="display-3 text-light"><strong>Hi, I'm Ngqiqo.</strong></h5>
<h2 class=" text-light">
Creative web designer and developer.<br>
Specializing in taylor made designs
</h2>

<h3 class=" text-secondary">If you're a business seeking a web presence or a
<br> looking to hire, contact me here.</h3>
<br>
<button type="button" class="btn btn-lg btn-outline-light">Contact me</button>
<br>
<br><br>
<br><br>
</div>
</div>
</div>
</div>



<div class="d-block d-md-none">
<img src="{% static 'Ngqiqo1.png' %}" width="100%" height="270px">
</div>
<!--////////////////////////////END-HEADER///////////////////////-->






<!--////////////////////////////first row///////////////////////-->

<div class="container">
 <div class="d-none d-md-inline">
<div class="row">

<div class="col-2 text-center">
<div class="top">
<img src="{% static 'ht.png' %}"  width="170px" height="160px">
</div> </div>

<div class="col-2 text-center">
<div class="top">
<img src="{% static 'css.png' %}"  width="120px" height="150px">
</div> </div>

<div class="col-2 text-center">
<div class="top">
<img src="{% static 'js.png' %}"  width="140px" height="150px">
</div> </div>

<div class="col-2 text-center">
<div class="top">
<img src="{% static 'bs.jpeg' %}"  width="150px" height="150px">
</div> </div>

<div class="col-2 text-center">
<div class="top">
<img src="{% static 'dj.jpeg' %}"  width="150px" height="150px">
</div> </div>
  
<div class="col-2 text-center">
<div class="top">
<img src="{% static 'py.png' %}"  width="140px" height="150px">
</div> </div>
</div>
</div>
<br><br>
<!--////////////////////////////end first row///////////////////////-->





<!--////////////////////////////second row///////////////////////-->
<div class="row">
<div class="col-sm-12 col-md-6 col-lg-6">
<div class="alert my-3">
<h4 class="display-2 text-center text-dark">About me</h4>
<h3 class=" text-center text-secondary">"I am an excellent web designer and faultless technician. I'm a pleasure to work with, great value for money and will always go the extra mile when necessary."

  <button type="button" class="btn btn-lg mx-auto my-3 bg-dark nav-link text-light" href="{% url 'about' %}">See more about me</button>
</h3>
</div></div>


<div class="col-sm-12 col-md-6 col-lg-6">
<div class="text-left">
<img src="{% static 'pics2.png' %}" width="100%" height="550px"  >
</div>
</div>
</div>
<!--////////////////////////////end second row///////////////////////-->







<!--////////////////////////////third row///////////////////////-->
<div class="row">

  <div class="col-sm-12 col-md-7 col-lg-7">
    <img src="{% static 'mmm.png' %}" width="100%" height="500px">
    </div>


<div class="col-sm-12 col-md-5 col-lg-5">
<div class="alert my-3">
<h4 class="display-2 text-center text-dark">What I do</h4>
<h3 class=" text-secondary text-center">My approach to website design is to create a website that strengthens your company’s brand while ensuring ease of use and simplicity for your audience.</h3>

<button type="button" class="btn btn-lg mx-auto my-3 bg-dark nav-link text-light" href="{% url 'about' %}">See more about me</button> 
</div>
</div>


</div>
</div>
<!--////////////////////////////end third row///////////////////////-->
<br><br><br>
{% endblock %}