{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container-fluid">
<div class="row">


    <div class="slider">
    
        <div class="nav">
            <div class="next"></div>
            <div class="prev"></div>
            <div class="explore-btn">Explore</div>
        </div>
        
        <div class="item my-4 is-active">
            <div class="content d-none d-sm-block">
                <div class="wrap"><span class="letter">W</span><span class="letter">e</span><span class="letter">b</span><span class="letter">s</span><span class="letter">i</span><span class="letter">t</span><span class="letter">e</span><span class="letter">s</span></div>
            </div>
            <div class="imgs">
                <div class="grid col-12">
                    <div class="img img-1">
                      
                        <img src="{% static 'wawa2.png' %}"></div>
                        <div class="img img-2">
                            <img src="{% static 'wawa1.png' %}"></div>
                        <div class="img img-3">
                            <img src="{% static 'demo3.jpg' %}"></div>
                        <div class="img img-4">
                            <img src="{% static 'demo5.jpg' %}"></div>
                </div>
            </div>
        </div>
    
        <div class="item my-4">
            <div class="content d-none d-sm-block">
                <div class="wrap"><span class="letter">G</span><span class="letter">r</span><span class="letter">a</span><span class="letter">p</span><span class="letter">h</span><span class="letter">i</span><span class="letter">c</span><span class="letter">s</span></div>
            </div>
            <div class="imgs">
                <div class="grid col-12">
                    <div class="img img-1">
                        <img src="{% static 'bold.png' %}"></div>
                        <div class="img img-2">
                            <img src="{% static 'banner1.png' %}"></div>
                        <div class="img img-3">
                            <img src="{% static 'banner2.png' %}"></div>
                        <div class="img img-4">
                            <img src="{% static 'gun.png' %}"></div>
                </div>
            </div>
        </div>
    
        <div class="item my-4">
            <div class="content d-none d-sm-block">
                <div class="wrap"><span class="letter">E</span><span class="letter">d</span><span class="letter">i</span><span class="letter">t</span><span class="letter">i</span><span class="letter">n</span><span class="letter">g</span></div>
            </div>
            <div class="imgs">
                <div class="grid col-12">
                    <div class="img img-1">
                        <img src="{% static 'pics2.png' %}"></div>
                        <div class="img img-2">
                            <img src="{% static 'Ngqiqo1.png' %}"></div>
                        <div class="img img-3">
                            <img src="{% static 'gun.png' %}"></div>
                        <div class="img img-4">
                            <img src="{% static 'demo5.jpg' %}"></div>
                </div>
            </div>
        </div>
    </div>



</div>

</div>






   




{% endblock %}