{% extends "base.html" %}
{% load static %}
{% block content %}

<style>

    body{
    background-image: url('{% static 'slide.jpg' %}');"
     }
  </style>





<div class="container">

    <br><br><br><br>




    <div class="row">

        <div class="col-5">

          <div class="alert my-5">
            <h4 class="display-1 text-light">Web Design</h4>
            <h3 class=" text-secondary">My name is Ngqiqo Yimpi and I am a web developer My name is Ngqiqo Yimpi and I am a web develope My name is Ngqiqo Yimpi and I am a web develope My name is Ngqiqo Yimpi and I am a web develope My name is Ngqiqo Yimpi and I am a web develope</h3>
          <br>

          <img src="{% static 'ht.png' %}"  width="50px" height="50px" class="mx-2 rounded">
          <img src="{% static 'css.png' %}"  width="50px" height="50px" class="mx-2 rounded">
          <img src="{% static 'images.png' %}" width="50px" height="50px" class="mx-2 rounded">
          <img src="{% static 'bs.png' %}" width="50px" height="50px" class="mx-2 rounded">
          <img src="{% static 'py.png' %}"  width="50px" height="50px" class="mx-2 rounded">
          <img src="{% static 'dj.png' %}"  width="50px" height="50px" class="mx-2 rounded">
          
        </div>
           
    </div>
    
        <div class="col-7 text-center my-4">
            <img src="{% static 'free.jpg' %}" width="550px" height="500px">
          </div>
             
    
    
    
    
      </div>
         





















      <div class="row">

        <div class="col-6">

          <div class="alert ">
            <h4 class="display-1 text-light">Graphic Design</h4>
            <h3 class=" text-secondary">My name is Ngqiqo Yimpi and I am a web developer My name is Ngqiqo Yimpidevelope My develope</h3>
          <br>

          <img src="{% static 'ht.png' %}"  width="50px" height="50px" class="mx-2 rounded">
          <img src="{% static 'css.png' %}"  width="50px" height="50px" class="mx-2 rounded">
          <img src="{% static 'images.png' %}" width="50px" height="50px" class="mx-2 rounded">
          <img src="{% static 'bs.png' %}" width="50px" height="50px" class="mx-2 rounded">
          <img src="{% static 'py.png' %}"  width="50px" height="50px" class="mx-2 rounded">
          <img src="{% static 'dj.png' %}"  width="50px" height="50px" class="mx-2 rounded">
          
        </div>
           
    </div>
    
        <div class="col-6 text-center my-4">
            <img src="{% static 'CLEANER.png' %}" width="600px" height="300px">
          </div>
             
    
    
    
    
      </div>
         

















</div>























{% endblock %}