body{
    background-image: url('{% static 'desi.png' %}');
   }

  .ifot1{
  Position: relative;
  animation-name:ifot1;
  animation-duration:1s;
  animation-iteration-count:inf;
  }
  
  @keyframes ifot1{
  0%{left:-60px ;}
  100%{left:0px;}
  }